extends layout

block content
  h1= title
  p Welcome to #{title}
  p Anggota Kelompok: 
  ul 
    li Muhammad Jeisa Ganela Putra (Front-End)
    li Genta Bhatara Anggasani Putra (Front-End)
    li Sahal Fajri (Back-End)
